body {
  margin: 0;
  padding: 0;
  background: #202A33;
  color: #fafafa;
  font-size: 14px;

  font-family: 'Source Code Pro', monospace;
}

.terminal {
  margin-bottom: 70px;
}

.element {
  padding: 5px;
}

.element-stdin {
  border-left: 4px solid #3EDFBB;
}

.element-stdin textarea {
  border: none;
  outline: none;
  width: 100%;
  resize: none;
  height: 20px;

  background: #202A33;
  color: #fafafa;

  font-family: 'Source Code Pro', monospace;
  font-size: inherit;
}

.element-stdout {
  border-left: 4px solid #666;
  padding-left: 8px;
}

.autocomplete {
  display: block;
  position: absolute;
  background: #31333E;
  padding: 2px;
}

.autocomplete .item {
  padding: 5px 10px;
}

.autocomplete .item.selected {
  background: #02BEFF;
}

.statusbar {
  position: fixed;
  background: #31333E;
  /*height: 30px;*/
  left: 0;
  right: 0;
  bottom: 0;
  padding: 8px 0;
}

.statusbar .statusbar-section {
  display: inline-block;
  margin: 0 10px;
}
