body {
  margin: 0;
  padding: 0;
  background: #202A33;
  color: #fafafa;
  font-size: 14px;

  font-family: 'Source Code Pro', monospace;
}

.element {
  padding: 5px;
}

.element-stdin {
  border-left: 4px solid #3EDFBB;
}

.element-stdin textarea {
  border: none;
  outline: none;
  width: 100%;
  resize: none;
  height: 20px;

  background: #202A33;
  color: #fafafa;

  font-family: 'Source Code Pro', monospace;
  font-size: inherit;
}

.element-stdout {
  border-left: 4px solid #666;
  padding-left: 8px;
}
